.panel {
    width: 100%;
    max-width: 360px;
    margin: auto;
    padding: 18px;
    background: #121826;
    border-radius: 20px;
}

/* INPUTS MÁS ESTRECHOS Y CENTRADOS */
input, select {
    width: 100%;
    max-width: 260px;
    margin: 6px auto 0 auto;
    display: block;
    padding: 12px;
    font-size: 17px;
    border-radius: 12px;
    border: none;
    background: #1c2433;
    color: white;
    text-align: center;
}

label {
    text-align: center;
    font-size: 14px;
    color: #9fb3c8;
    margin-top: 14px;
}

/* BOTÓN CENTRADO */
button {
    width: 100%;
    max-width: 280px;
    margin: 20px auto;
    display: block;
}