body {
    max-width: 100vw;
    overflow-x: hidden;
}

.panel {
    width: 100%;
    max-width: 420px;
    margin: auto;
}

.fila {
    flex-direction: column;
}

input, select, button {
    font-size: 18px;
}

.proceso {
    background: #1e9c44;
    color: white;
    border-radius: 12px;
    padding: 15px;
}