body {
  background: #000;
  font-family: Arial, sans-serif;
  color: white;
  padding: 15px;
}

.titulo {
  background: #15803d;
  text-align: center;
  padding: 14px;
  border-radius: 16px;
  font-size: 22px;
  margin-bottom: 15px;
}

.selector {
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  background: #16a34a;
  color: white;
  font-size: 16px;
  border: none;
  margin-bottom: 15px;
}

.bloque {
  background: #111;
  padding: 12px;
  border-radius: 14px;
  margin-bottom: 12px;
}

.bloque.a { border: 2px solid #22c55e; }
.bloque.b { border: 2px solid #3b82f6; }

input {
  width: 48%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 5px 1%;
  font-size: 16px;
}

button {
  width: 100%;
  background: #2563eb;
  color: white;
  padding: 14px;
  border-radius: 16px;
  border: none;
  font-size: 18px;
  margin: 15px 0;
}

.resultados {
  display: flex;
  gap: 10px;
}

.resultados input {
  background: #e0f2fe;
  font-size: 18px;
}

.resto input {
  width: 80px;
}

.pasos {
  background: #dbeafe;
  color: black;
  padding: 14px;
  border-radius: 16px;
  margin-top: 15px;
}

.azul { color: #2563eb; font-weight: bold; }
.verde { color: #16a34a; font-weight: bold; }
.rojo { color: #dc2626; font-weight: bold; }

footer {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
}